@font-face {
    font-family: "Avenir LT std";
    src: url(../fonts/AvenirLTStd-Light.otf);
    font-weight: 100;
  }
  @font-face {
    font-family: "Avenir LT std";
    src: url(../../fonts/AvenirLTStd-LightOblique.otf);
    font-weight: 200;  
  }
  @font-face {
    font-family: "Avenir LT std";
    src: url(../../fonts/AvenirLTStd-Book.otf);
    font-weight: 300; 
  }
  
  @font-face {
    font-family: "Avenir LT std";
    src: url(../../fonts/AvenirLTStd-Medium.otf);
    font-weight: 500;
    }
  @font-face {
    font-family: "Avenir LT std";
    src: url(../../fonts/AvenirLTStd-Black.otf);
    font-weight: 700;
    }

    @font-face {
      font-family: "Avenir LT std";
      font-weight: 900;
      src: url(../../fonts/AvenirLTStd-Heavy.otf);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 12px;
        margin: 0;
        padding: 0;
        color: black;
        font-family: "Sofia Pro";
        font-family: "Montserrat", sans-serif; 
    }
    a {
        text-decoration: none;
    }
    li {
      list-style-type: none;
    }
    p {
      font-family: Avenir LT Std;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;       
    }
    .orange__btn {
      padding: 10px 30px;
      border-radius: 24px;
      background: #ED8F20;
      border: 1px solid #ED8F20;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 140.6%;
      color: #FFFFFF;
      
      &.large {
        /* width: 200px; */
        display:flex;
        align-items:center
      }
    }
    .purple__btn {
      padding: 10px 30px;
      border-radius: 24px;
      background: linear-gradient(224.92deg, #89D746 39.1%, #70C228 66.42%);
      border-radius: 32px;     
      /* border: 1px solid #ED8F20; */
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 40.6%;
      color: #FFFFFF;
      text-align: center;
            
    }
    .btn__flex {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      width: 30px;
      height: 30px; 
      border-radius: 50%; 
      background: white;
      margin-left:6px; 
      
      & img {
        width: 50%;
      }
    }
    input {
      outline: none;
      border: none;
    }
    .hero__title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 23px;
      color: #EF771D;      
    }
    .hero__text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 41px;
      
      color: #484646;      
    }