.header{
    
    &__container {
        padding: 20px 40px;
    }
    &__menu {
        display: flex;
        /* width: 100%; */
        align-items: center;
        /* justify-content: space-around; */
        
        & ul {
            display: flex;
            justify-content:space-between;
            width:40%;
            align-items:center;

            & li a{
                font-family: Avenir LT Std;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px; 
                color: #2B434E;
                
                &:hover {
                    color: #6AA13C;
                }

                &.active {
                    color: #6AA13C;
                }
            }
        }

        & .header__right {

            display: flex;
            width:100%;
            justify-content: space-around;
            align-items: center;
            padding-left:100px;

            & span {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #ED8F20;  
                
                &.header__tel::before {
                    content: url(../../../assets/images/tel.png);
                    vertical-align: middle;
                    padding: 0px 10px;
                }
            
            }

            & > div {
                display: flex;
                align-items:center;

                & span {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 18px;
                    color: #2B434E;                    
                }
            }
        }
    }
    &__icon {
        padding: 0px 10px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0px 10px 0px 100px;
    }
    &__left {
        width: 50%;
        /* background: red; */
        & h1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 45px;
            line-height: 55px;
            color: #212221;            
        }
        & p {
            width: 80%;
            font-family: Avenir LT Std;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 131.3%;
            letter-spacing: 0.06em;            
            color: #2B434E; 
            padding: 20px 0px;           
        }
    }

    &__form {
        display: flex;
        

        & input {
            background: #FFFFFF;
            box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.06);
            border-radius: 53px;
            width:60%;
            margin-right:20px;
            padding: 0px 20px;

            &::placeholder {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                color: #717171;
                
                &::before {
                    content: url(../../../assets/images/tel.png);
                    vertical-align:middle
                }
            }

        }
    }



}